<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>683332563891-r686k1rr0h7i14lg1bua39reae1e6ub4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.683332563891-r686k1rr0h7i14lg1bua39reae1e6ub4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>683332563891-66k72hpekkoelue18udt2j2ob2d3jeas.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA0KdtaMe7x-AgFwMWbm2sq-WaLxHC6Q40</string>
	<key>GCM_SENDER_ID</key>
	<string>683332563891</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.events.users</string>
	<key>PROJECT_ID</key>
	<string>aladin-events</string>
	<key>STORAGE_BUCKET</key>
	<string>aladin-events.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:683332563891:ios:0b11fed760b5570c6651c6</string>
</dict>
</plist>